body{
	  background-color: #3e3e49;
	  color: white;
}
.main{
    width: 470px;
    height: 62.654321%;
    background-color: #3e3e49;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}
#submit{
	background: url("../images/confirm.svg")no-repeat;
	background-size:100%;
	height:50px; 
	width:25%;
	border:none;
	cursor:pointer;
}
.center{
	text-align: center;
}
.persons{
	font-size: 18px;
	margin-top: 44px;
	padding-bottom: 22px;
}
.line{
	margin-top: 20px;
	padding-bottom: 40px;
}
.intro{
	font-size: 16px;
}
.title{
	font-size: 18px;
	padding-bottom: 40px;
}
.confirm{
	margin-top: 27px;
}
.confirm > img{
	cursor: pointer;
}
.confirm > img:hover{
	opacity:0.5;
}
.number > p{
	z-index:1000;
	position:absolute;
	left: 48%;
	font-size: 20px;
}
.number{
	position: relative;
}
#plus{
	width:19%;
	height:96%;
	position:absolute;
	right:20%;
	top:0;
	cursor:pointer;
}
#minus{
	cursor:pointer;  
	width:16.4%;
	height:96%;
	position:absolute;
	top:0;
	left:20%;
	
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
            transform: scale3d(1.05, 1.05, 1.05);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}



.pulse {
  -webkit-animation-name: pulse;
          animation-name: pulse;
}
.animated {
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
textarea:focus, input:focus{
    outline: 0;
}
