*{
	margin:0px;
	padding:0px;
	overflow: hidden;
	
}
header, footer, nav, main, section, article, aside {
	display: block;
	
}	



svg {
    background: #2b2b33;
    position:absolute;
    
 	
}

.year{
	position:absolute;
	border-right:1px solid #000000;
	font:20px font2, arial;
	color:#54545a;
	text-align:center;
	
}
.year:hover{
	opacity:0.1; 
	background-color:white;
	color:gray;
	 
}
.yearSelected{
	opacity:0.1; 
	background-color:white;
	color:gray; 
}

.node.active {
	border-width:90px;
	
}

.node { 
	 position: absolute;  
}
.node>img{
	position:absolute;	
	

}

.text{
	position:absolute;
	bottom:0px;
	opacity:0.3;
}
.name{
	font:27px font1,arial;
	display:block;
	/*position:absolute;
	bottom:0px;
	left:5px;*/
	
}
.percent{
	font:48px font2,arial;
	display:block;
	/*position:absolute;
	bottom:30px;
	left:5px;*/
}
@font-face{
    font-family: font1;
    src: url("../fonts/AdumaFOT-Heavy.otf"); 
}
@font-face{
    font-family: font2;
    src: url("../fonts/MarkPro-Thin.ttf");
}
.area {
	fill: #3e3e49;
  	stroke-width:0;
  	
}
