*{
	margin:0px;
	padding:0px;
	overflow: hidden;
	color:#ffffff;
}
header, footer, nav, main, section, article, aside {
	display: block;
	
}	
#logo{
	position:absolute;
	top:0;
	right:0;
	content:url("../images/logo.svg");
	height:8%;
}
li,li>a{
	position:absolute;
	cursor:pointer;
	height:8%;
}
.personSelected,#one_person,#two_persons,#three_persons,#four_persons,#five_persons,#six_persons{
	left:3.67%;
}

#share{
	top:0;
	content:url("../images/share.svg");
}

#fb_share{
	top:8%;
	content:url("../images/share_facebook_unselected.svg");
	visibility: hidden;
}
#fb_share:hover{
		content:url("../images/share_facebook.svg");

}
#twit_share{
	top:16%;
	content:url("../images/share_twitter_unselected.svg");
	visibility: hidden;
}
#twit_share:hover{
	content:url("../images/share_twitter.svg");
}
#link_share{
	top:24%;
	content:url("../images/share_link_unselected.svg");
	visibility: hidden;
}
#link_share:hover{
		content:url("../images/share_link.svg");
}

#one_person{
	content:url('../images/1 person_unselected.svg');
	top:8%;
	visibility: hidden
}
#personSelected1{
		content:url('../images/1 person.svg');
}
#one_person:hover{
	content:url('../images/1 person.svg');
}
#two_persons{
	content:url('../images/2 persons_unselected.svg');
	top:16%;
	visibility: hidden
}
#two_persons:hover{
	content:url('../images/2 persons.svg');
}
#personSelected2{
		content:url('../images/2 persons.svg');
}
#three_persons{
	content:url('../images/3 persons_unselected.svg');
	top:24%;
	visibility: hidden
}
#three_persons:hover{
	content:url('../images/3 persons.svg');
}
#personSelected3{
	content:url('../images/3 persons.svg');
}
#four_persons{
	content:url('../images/4 persons_unselected.svg');
	top:32%;
	visibility: hidden
}
#four_persons:hover{
	content:url('../images/4 persons.svg');
}
#personSelected4{
	content:url('../images/4 persons.svg');
}
#five_persons{
	content:url('../images/5 persons_unselected.svg');
	top:40%;
	visibility: hidden
}
#five_persons:hover{
	content:url('../images/5 persons.svg');
}
#personSelected5{
	content:url('../images/5 persons.svg');
}
#six_persons{
	content:url('../images/6 persons_unselected.svg');
	top:48%;
	visibility: hidden
}
#six_persons:hover{
	content:url('../images/6 persons.svg');
}
#personSelected6{
	content:url('../images/6 persons.svg');
}
#main_x{
	
}
#Health_x{
	content:url("../images/x_Health.svg");
}

#Clothingandfootwear_x{
	content:url("../images/x_Clothing and footwear.svg");
}
#Miscellaneousgoodsandservices_x{
	content:url("../images/x_Cosmetics.svg");
}
#Educationcultureandentertainment_x{
	content:url("../images/x_food.svg");
}
#Transportandcommunications_x{
		content:url("../images/x_food.svg");
}
#Food_x{
	content:url("../images/x_food.svg");
}
#HousingDwellingandhouseholdmaintenance_x{
	content:url("../images/x_Housing and household.svg");
}
.x_botton{
	cursor:pointer;
	position:absolute;
	right:7.6%;
	height:8%;
}
.x_botton:hover{
	-webkit-animation:spin 1s linear infinite;
    -moz-animation:spin 1s linear infinite;
    animation:spin 1s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
svg {
    background: #2b2b33;
    position:absolute;
  
}

.year{
	position:absolute;
	border-right:1px solid #000000;
	font:17px font3,arial;
	padding-top:2px;
	text-align:center;
	
}
.year:hover,.yearSelected{
	opacity:0.1; 
	background-color:#FFFFFF;
}
.year>p{
	color:#d3d3d3 ;	 
}
section:hover>p,.yearSelected>P{
	color:#252525;
}

.node.active {
	border-width:90px;
}

.node { 
	cursor:pointer;
	 position: absolute;  
}

.node>img{
	position:absolute;	
}
.description{
}
.text{
	position:absolute;
	bottom:0px;
	
}

.name{
	font:23px font1,arial;
	display:block;
	padding:0 15px 10px 15px;
}
.percent{
	font:48px font2,arial;
	display:block;
	padding-left:15px;
}
@font-face{
    font-family: font1;
    src: url("../includes/fonts/AdumaFOT-Heavy.otf"); 
}
@font-face{
    font-family: font2;
    src: url("../includes/fonts/MarkPro-Thin.ttf");
}
@font-face{
    font-family: font3;
    src: url("../includes/fonts/MarkPro-Light.ttf");
}
.area {
	fill: #4f4f59;
  	stroke-width:0;
  	
}
article{
	direction:rtl;
	width: 50%;
    margin: 0 auto;
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
          animation-name: fadeInDown;
}
.animated {
	visibility:visible !important;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
@-webkit-keyframes fadeOutUpBig {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
            transform: translate3d(0, -2000px, 0);
  }
}

@keyframes fadeOutUpBig {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
            transform: translate3d(0, -2000px, 0);
  }
}

.fadeOutUpBig {
  -webkit-animation-name: fadeOutUpBig;
          animation-name: fadeOutUpBig;
}